@model IEnumerable<VHRMS.Models.RolePermissionMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleMaster.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Add)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.View)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleMaster.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Add)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.View)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
