@model VHRMS.Models.ConcernMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ConcernMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConcernName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConcernName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailJetPublicKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailJetPublicKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailJetPrivateKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailJetPrivateKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailJetEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailJetEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailJetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailJetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmsApi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmsApi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
